<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jinja tags</title>
    <style>
        
        #i{color: blueviolet;,padding: auto;}
        #l{color: blue;}
        #u{color: greenyellow;}
        #w{color: red;}
        #t{color: violet;}


    </style>

</head>

<body>
    <center><h1 id="w">WELCOME</h1>
        <h1 id="i">to</h1>
        <h1 id="l">my page</h1>
        <h1 id="u">{{name}}</h1>
        <h1 id="t">{{age}}</h1>
    
    </center>

    
</body>
</html>